@import "../../../common-ui/vars.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
}

.header {
  padding: 30px;
  background: $primary;
  width: 100%;
  box-sizing: border-box;
}

.formContainer {
  background: $primary;
  width: 100%;
  background: linear-gradient(
    180deg,
    $primary 0%,
    $primary 100px,
    #ececec 100px,
    #ececec 100%
  );
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block {
  border-radius: 4px;
  background: #fff;
  padding: 20px;
  width: 75%;
  margin: 0 auto 20px;
  box-shadow: 0px 5px 10px -5px #aaa;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include for-mobile-only {
    width: 95%;
  }
}

.pollTitle {
  font-size: 20px;
  width: 50%;
  @include for-mobile-only {
    width: 95%;
  }
}

.pollDescription {
  color: #8c929a;
  font-size: 16px;
  margin: 5px 0 10px 0;
  width: 50%;
  @include for-mobile-only {
    width: 95%;
  }
}

.pollSeparator {
  height: 1px;
  background: #c4c9d0;
  width: 40%;
  margin: 20px auto 0;
}

.questions {
  width: 50%;
  @include for-mobile-only {
    width: 95%;
  }
}

.question {
  margin: 50px 0;
}

.answerContainer {
  text-align: left;
  margin: 10px 0;
}

.answerName {
  color: $gray;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  margin: 20px 0;
}

.choices {
  margin-top: 10px;
}

.participantName {
  color: #393939;
  font-weight: bold;
  text-align: left;
  margin: 50px 0 10px 0;
}

.questionDescription {
  color: #8c929a;
  text-align: left;
  margin: 10px 0 5px 0;
}

.views {
  color: #8c929a;
  display: flex;
  margin-top: 30px;
}

.view {
  background: #dadfe6;
  transition-duration: 0.3s;
  padding: 5px 10px;
  outline: none;
  &:hover {
    cursor: pointer;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.selectedView {
  background: #63c37b;
  color: #fff;
}
